<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" >
</head>
<body>

<div class="container">
    <header>
        <h1>Podlike</h1>
    </header>

    <nav>
        <h2>
            <a th:href="@{/home}" class ="navlink">Home</a> |
            <a href="" class ="navlink">Podcast</a> |
            <a href="" class ="navlink">Podcaster</a> |
            <a th:href="@{/login}" class ="navlink">Login</a> |
        </h2>
    </nav>
    </section>
    <div class="clear">
    </div>
</div>
</body>
</html>